* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.circles {
  position: absolute;
  /* z-index: -1; */
  width: 100vw;
  height: 1039px;
  top: -150px;
  left: 0px;
}

.page-1 {
  width: 100vw;
  padding: 150px;
  display: flex;
  flex-direction: column;
  background-color: #001d37;
  color: white;
}

.sec-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 14px;
  line-height: 1.8;
}

h1 {
  font-size: 100px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1;
}

.sec-1-buttoms {
  list-style: none;
  text-transform: capitalize;
  display: flex;
  gap: 10px;
  text-align: center;
}

.sec-1-buttoms a:link {
  color: white;
  text-decoration: none;

}

.sec-1-buttoms a:visited {
  color: white;
}

.sec-1-buttoms li {
  padding: 14px 40px;
  border-radius: 71px;
}

.sec-1-b1 {
  background-color: #475aff;

}

.sec-1-b2 {
  border: 2px white solid;
}

.features {
  display: flex;
  /* gap: 10px; */
  margin-top: 70px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}

svg {
  width: 48px;
  margin-bottom: 25px;
}

.features li {
  width: 255px;
  height: 322px;
  border: 1px white solid;
  padding: 25px;
  list-style: none;
  font-size: 17px;
  line-height: 1.8;
  font-weight: 400;
}

.feature-title {
  font-size: 24px;
  font-weight: 700;
}

.page-2 {
  width: 100vw;
  padding: 150px;
}

h2 {
  font-size: 85px;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 700px;
}

.page-2 nav {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  text-transform: capitalize;
  color: #ababab;
  margin-bottom: 30px;
}

.page-2 nav a:link {
  text-decoration: none;
  color: #ababab;
}

.page-2 nav a:hover {
  color: #5e6eff;
  text-decoration: underline;
}

.page-2 nav a:visited {
  color: #ababab;
}

.animal-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 515px);
  grid-template-rows: 1fr 1fr;
  list-style: none;
  row-gap: 50px;
  max-width: 1500px;
  justify-content: space-between;
}

.animal-list li {
  display: flex;
  border: 1px #F3F3F3 solid;
  border-radius: 20px;
  gap: 20px;
  align-items: center;

}

.img-container {
  width: 295px;
  /* Set container width */
  height: 200px;
  /* Set container height */
  overflow: hidden;
  /* Hide parts of the image outside the container */
  position: relative;
  /* Useful if you want to reposition the image inside */
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.img-container img {
  /* Optionally, adjust the image position */
  height: 477px;
  width: 318px;
  position: absolute;
  /* Allow positioning adjustments */
  top: -35px;
  /* Move image up to show a specific part */
  left: -108px;
  /* Move image left to show a specific part */
}

.animal-name {
  font-size: 26px;
  font-weight: 600;
  /* display: inline-bx/lock; */
}

.name-order {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  height: 24px;
}

.name-order svg {
  margin: 0;
}

.animal-info {
  font-size: 16px;
  color: #626262;
}

.time {
  font-size: 13.6px;
  color: #a2a2a2;
}

.adoption-form {
  width: 40vw;
  /* border: 1px rgba(255, 255, 255, 0.261) solid; */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  top: 25%;
  left: 30vw;
  gap: 50px;
  background-color: white;

  z-index: 10;
}

/* Overlay Styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

#form:target {
  display: flex;
}

.animal-form-info {
  width: 40%;
}

.animal-form-info img {
  width: 100%;
  height: 100%;

  display: block;
}

.animal-form-info {
  position: relative;
}

.animal-form-name {
  position: absolute;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.545);
  width: 100%;
  padding: 10px 20px;
}

#animalname {
  font-size: 36px;
  font-weight: 400;
}

#thanks {
  font-size: 15px;
  font-weight: 400px;
  color: #555555;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  padding: 30px 0px;
  gap: 20px;
}

input,
textarea {
  margin-right: 50px;
  padding: 10px 15px;
  border: 1px #5555551c solid;
  color: #888888;
  resize: none;
}

textarea {
  height: 150px;
}

.form-buttom:link {
  align-self: flex-end;
  margin-right: 50px;
  padding: 10px 35px;
  background-color: #475AFF;
  border-radius: 71px;
  font-size: 18px;
  color: white;
  font-weight: 600px;
  line-height: 17.51px;
  text-decoration: none;
}

.form-buttom:visited {
  color: white;
}

.form-buttom:hover {
  text-decoration: underline;
}

.overlay-close {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}